* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: red;
}

main {
    background-color: blueviolet;
}

.title {
    color: #8d00eb;
}

.testSam {
    display: flex;
    flex-direction: row;
}